

/*サイトタイトル下のキャッチフレーズ文字を大きくする*/
.site-description {
	color: #666;/*色*/
	font-size: 13px;/*大きさ*/
	font-size: 1.2rem;/*大きさ*/
}


/*かめらぼを､レスポンシブに*/
@media (max-width: 650px) {
	table td{
		display: block;
		padding: 0.6em;
		text-align: center;
	}
}
